<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>

  <body>
    <h1>CATEGORIES</h1> 
    <div id='categories'>
      <table>
        <thead>
          <tr id='cate-head'>
            <th id='cateh_id'>ID</th>
            <th id='cateh_name'>Name</th>
          </tr>
        </thead>
        <tbody>
          <% cates.forEach(function(cates){ %>
          <tr id='cate-body'>
            <th id='cateb_id'><%=cates.id%></th>
            <td id='cateb_name'><%=cates.name%></td>
          </tr>
          <% }); %>
        </tbody>
      </table>  
    </div>
  
    

  </body>
</html>

